@model AuthorizationDemo.Models.Document
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
</head>
<body>
<div>
    <p>Document name: @Model.Name</p>
    <p>Document owner: @Model.Owner</p>

</div>
</body>
</html>